<h1>Artist Directory</h1>

<% @artists.each do |artist| %>
<%= link_to artist.name, artist_path(artist) %>
<% end%>

<p><%= link_to "Add a New Artist", new_artist_path %></p>
<p><%= link_to "See All Artworks", artworks_path %></p>
