<div class="container"><h1>Artist Directory</h1>

<ul>
<% @artists.each do |artist| %>
    <li><%= link_to artist.name, artist_path(artist) %></li><br>
<% end%>
</ul>
<br>
<br>

<p><%= link_to "Add a New Artist", new_artist_path %></p>
<p><%= link_to "Artworks", artworks_path %></p>
<p><%= link_to "Locations", locations_path %></p>
</div>
