<h1><%= @artist.name %></h1>

<p>Location: <%= @artist.location.city_state %></p>
<p>Bio: <%= @artist.bio %></p>

<h3>Artworks</h3>
<ul>
<% @artist.artworks.each do |artwork|%>
    <li><%= link_to image_tag(artwork.img_url), artwork_path(artwork)%>
<% end%>
</ul>
<br>
<br>

