<h1>Shop Artworks</h1>

<ul>
<% @artworks.each do |artwork| %>
    <li><%= link_to artwork.name, artwork_path(artwork) %>
<% end%>
</ul>
<br>
<br>
<p><%= link_to "Add a New Artwork", new_artwork_path %></p>
<p><%= link_to "Artists", artists_path %></p>
<p><%= link_to "Locations", locations_path %></p>
