<div class="container"><h3>Artwork in my cart</h3></div><br>

<ul>
<% @user.carts.each do |cart| %>
    <li><%= link_to cart.artwork.name, artwork_path(cart.artwork)%> <%= button_to "Remove", cart_path(cart), method: :delete %><br>
<%end %>
</ul>




