<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artery</title>
    
    <style>
        header {
        background: url(<%= asset_path 'artery_banner_final-01.png' %>);
        background-size: cover;
        background-position: center;
        min-height: 500px;
        width: 100%;
    }
    </style> 
    <link rel="stylesheet" href="stylesheets/homepage.scss">  
</head>
<body>

    <div class="container" id="homepg_bottom_logos">
        <%= image_tag 'rsz_1artery_banner-01' %>
        <%= image_tag 'rsz_1artery_logo1-01' %>
    </div>
















<footer>
    <div class="container">
        
    </div>
</footer>
</body>
</html>