// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#panel{
    margin-top: 100px;
    padding: 1px;
}
#loginbtn{
    float: right;
    margin-bottom: 10px;
    margin-right: 10px;
}
#title{
    background-color: #fdd835;
    color: black;
    padding: 8px;
    margin-top: 0px
}
form{
    padding:0px;
    border-radius: 3px;
    box-sizing: border-box;
}
#username,#password{
    margin-left: 20px;
    margin-right: 20px;
}