<h1><%= @location.city_state %></h1>

 Insert Map of Location Here
 <br>
 <p>Zip Code: <%= @location.zip_code %></p>

<p><%= link_to "Back to All Locations", locations_path %></p>
<p><%= link_to "Edit this Location", edit_location_path %></p>